@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg,#153677,#4e0857);
    display: flex;
    justify-content: center;
}

.todoApp{
    width: 100%;
    max-width: 540px;
    background: #fff;
    border-radius: 1.5rem;
    margin-top: 100px;
    margin-bottom: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
    /* border: 2px solid red; */
}

.heading h2{
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
    gap: 20px;
    /* border: 2px solid blue; */
}

.heading h2 img{
    height: 50px;
}

.todos{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 1.8rem;
    padding-left: 1.7rem;
}

.todos input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 1rem;
}

.todos button{
    background: #ff5945;
    border-radius: 1.8rem;
    color: #fff;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 1rem 3.25rem;
    cursor: pointer;
}

