/* Extra small devices 320 0r below  */
@media only screen and (max-width: 319px) {
    .heading{
        width: 100%;
        padding-left: 0.2rem;
    }

    main{
        padding: 0;
    }

    .description{
        height: 40%;
        /* border: 2px solid blue; */
    }

    .one{
        height: 100px;
        width: 100px;
    }

    .msg{
        margin-left: 25%;
        margin-right: 25%;
        font-size: 1.3rem;
    }

    .two{
        height: 80px;
        width: 80px;
    }

    .three{
        height: 80px;
        width: 80px;
        position: relative;
        top: 3rem;
    }

    .four{
        height: 100px;
        width: 100px;
        align-self: flex-start;
    }

    .five{
        display: none;
    }

    .six{
        display: none;
    }

    .links{
        height: 8%;
        margin-top: 3rem;
        justify-content: space-evenly;
    }

    .links input{
        width: 55%;
        padding: 0rem;
        padding-left: 1rem;
    }

    .links input::placeholder{
        font-size: 0.8rem;
        font-weight: 200;
    }

    .links button{
        width: 35%;
        margin-left: 0rem;
        font-size: 0.8rem;
    }

    .result p{
        font-size: 0.8rem;
    }
}

/* small devices (phones, 600px and down) */
@media only screen and ((min-width: 320px) and (max-width: 480px)) {
    .heading{
        width: 100%;
        padding-left: 0.5rem;
    }

    main{
        padding: 0;
    }

    .description{
        height: 45%;
        justify-content: space-around;
        /* border: 2px solid blue; */
    }

    .one{
        height: 150px;
        width: 150px;
        position: relative;
        top: 1rem;
        left: 0.5rem;
        align-self: flex-start;
    }

    .msg{
        margin-left: 12.5%;
        margin-right: 12.5%;
        font-size: 1.4rem;
    }

    .two{
        height: 80px;
        width: 80px;
        position: relative;
        bottom: 1rem;
        right: 1rem;
    }

    .three{
        height: 80px;
        width: 80px;
        position: relative;
        top: 1rem;
        right: 1rem;
    }

    .four{
        height: 80px;
        width: 80px;
        position: relative;
        bottom: 1rem;
        right: 3rem;
    }

    .five{
        height: 100px;
        width: 100px;
        position: relative;
        align-self: flex-start;
        top: 1rem;
        right: 0.5rem;
    }

    .six{
        display: none;
    }

    .links{
        height: 8%;
        margin-top: 3rem;
        justify-content: space-evenly;
    }

    .links input{
        width: 55%;
        padding: 0rem;
        padding-left: 1rem;
    }

    .links input::placeholder{
        font-size: 0.8rem;
        font-weight: 200;
    }

    .links button{
        width: 35%;
        margin-left: 0rem;
        font-size: 0.8rem;
    }

    .result p{
        font-size: 1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and ((min-width: 480px) and (max-width: 600px)) {
    .heading{
        padding-left: 0.5rem;
    }

    main{
        padding: 0;
    }

    .description{
        height: 45%;
        justify-content: space-around;
        /* border: 2px solid blue; */
    }

    .one{
        height: 150px;
        width: 150px;
        position: relative;
        top: 1rem;
        left: 0.5rem;
        align-self: flex-start;
    }

    .msg{
        margin-left: 6.25%;
        margin-right: 6.25%;
        font-size: 1.5rem;
    }

    .two{
        height: 80px;
        width: 80px;
        position: relative;
        bottom: 1rem;
        right: 1rem;
    }

    .three{
        height: 80px;
        width: 80px;
        position: relative;
        top: 1rem;
        right: 1rem;
    }

    .four{
        height: 80px;
        width: 80px;
        position: relative;
        align-self: flex-start;
        top: 1rem;
        left: 2rem;
    }

    .five{
        height: 130px;
        width: 130px;
        position: relative;
        align-self: flex-end;
        top: 1rem;
        right: 0.5rem;
    }

    .six{
        display: none;
    }

    .links{
        height: 8%;
        margin-top: 3rem;
        justify-content: space-evenly;
    }

    .links input{
        width: 50%;
        padding: 0rem;
        padding-left: 1rem;
    }

    .links input::placeholder{
        font-size: 0.8rem;
        font-weight: 200;
    }

    .links button{
        width: 30%;
        /* margin-left: 0rem; */
        font-size: 1rem;
    }

    .result p{
        font-size: 1.1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and ((min-width: 600px) and (max-width: 768px)) {
    main{
        padding: 0.5rem;
    }

    .description{
        height: 45%;
        justify-content: space-around;
        /* border: 2px solid blue; */
    }

    .msg{
        margin-left: 12.5%;
        font-size: 1.5rem;
    }

    .four{
        display: none;
    }

    .links{
        height: 8%;
        margin-top: 3rem;
        justify-content: center;
    }

    .links input{
        width: 45%;
        padding: 0rem;
        padding-left: 1rem;
        margin-right: 1rem;
    }

    .links input::placeholder{
        font-size: 0.9rem;
        font-weight: 200;
    }

    .links button{
        width: 25%;
        margin-left: 0rem;
        font-size: 1rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and ((min-width: 768px) and (max-width: 992px)) {
    main{
        padding: 5rem;
    }

    .description{
        height: 45%;
        justify-content: space-around;
        /* border: 2px solid blue; */
    }

    .links{
        height: 10%;
        margin-top: 3rem;
        justify-content: center;
    }

    .links input{
        width: 40%;
        margin-right: 1rem;
    }

    .links input::placeholder{
        font-size: 1rem;
        font-weight: 400;
    }

    .links button{
        width: 20%;
        margin-left: 0rem;
        font-size: 1rem;
    }

    .result button{
        font-size: 1.2rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {

    main{
        padding: 5rem;
    }

    .description{
        height: 45%;
        justify-content: center;
        /* border: 2px solid blue; */
    }

    .links{
        height: 10%;
        margin-top: 3rem;
        justify-content: center;
    }

    .links input{
        width: 40%;
        margin-right: 1rem;
    }

    .links input::placeholder{
        font-size: 1rem;
        font-weight: 400;
    }

    .links button{
        width: 20%;
        margin-left: 0rem;
        font-size: 1rem;
    }

    .result button{
        font-size: 1.5rem;
    }
}