* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Hubot-Sans, sans-serif;
    font-weight: normal;
    background-color: #0d1117;
    color: #fff;
}

.container{
    height: 100vh;
    width: 100vw;
}

:root {
  --primary-color: #161b22;
  --secondary-color: #0d1117;
}

header {
    margin-top: 1rem;
    padding-left: 1rem;
    border-bottom: 0.6px solid #242424;
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

header ul li a i{
    color: #868686;
}

.navbar{
    height: 5%;
    max-width: 70%;
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid white; */
}

.navbar form input{
    width: 15rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #ffffff61;
    border-radius: 1rem;
    color: #fff;
    text-decoration: none;
    background: transparent;
}

.navbar form input::placeholder{
    padding-left: 0.5rem;
    color: #fff;
    border: none;
}

.profile{
    height: 25%;
    width: 100%;
    margin: 1rem 1rem 0rem 1rem;
    display: flex;
    padding-left: 1rem;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
}

.img{
    height: 80%;
    width: 150px;
    border-radius: 50%;
    /* border: 2px solid red; */
}

.img img{
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}

.user-data{
    height: 100%;
    width: calc(100% - 200px);
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}

.repo {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: auto;
    /* border: 1px solid #4a515d; */
}

.card{
    width: 46%;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #4a515d;
}

.card a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #549ef3;
}

.card p{
    font-size: 0.8rem;
    color: #868686;
}

.card div{
    width: 100%;
    color: #4a515d;
    margin-top: 1rem;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card div p{
    font-size: 1rem;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #549ef391;;
    /* display: flex;
    flex-wrap: wrap; */
    /* background-color: rgb(0, 98, 255); */
}

.wrapper{  
    margin: 0 auto;
    display: block;
    width: 960px;
}

.pagination{
    margin-top: 2rem;
    padding: 0;
    display: flex;
    justify-content: center;
}

.pagination button {
    text-decoration: none;
    padding: 5px 10px;
    background: #161b22;
    color: #fff;
    border: none;
    cursor: pointer;
    border-right: 1px solid #161b22;
}

.select{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #fff; */
}

.select p{
    height: 100%;
    /* border: 2px solid #fff; */
    margin-right: 1rem;
}

select {
    background: #161b22;
    font-size: 1em;
    padding: 0.5em;
    color:#fff;
    cursor: pointer;
    border-radius: .25em;
}

.select:hover::after {
    color: #23b499;
}

.paginationDescription{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 2px solid #fff; */
}

.older{
    width: 10%;
    font-size: 1.2rem;
    background: #161b22;
    padding: 0.5rem;
    border-radius: 1rem;
    gap: 1rem;
    margin-right: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dcd5d5;
    border: 1px solid #4a515d;
}

.newer{
    width: 10%;
    background: #161b22;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dcd5d5;
    border: 1px solid #4a515d;
}

.footer{
    width: 100%;
    height: 5%;
}

/* a {
  text-decoration: none;
}

:root {
  --primary-color: #161b22;
  --secondary-color: #0d1117;
}

body {
  background: var(--secondary-color);
  font-family: Hubot-Sans, sans-serif;
  font-weight: normal;
} */
